.about {
  padding: 57px 0 66px 0;
  font-family: $font-montserrat;
}

.about-container {
  display: flex;
  justify-content: space-between;
}

.about-item {
  width: 300px;
  padding-left: 3px;
}

.about-item__title {
  width: 220px;
  margin-bottom: 17px;
  font-size: 26px;
  font-weight: 700;
  line-height: 26px;
  text-transform: uppercase;
}

.about-item__title-dot {
  color: $color-dot;
}

.about-item__text {
  margin-bottom: 23px;
  width: 265px;
  font-family: $font-opensans;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: #9aa0ab;
}

.about-item__readmore {
  font-size: 14px;
  line-height: 20px;
  color: #f0454c;
  text-transform: uppercase;
  
  &:hover {
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}