.footer {
  padding: 67px 0 0 0;
  display: flex;
  justify-content: space-between;
  font-family: $font-opensans;
  font-size: 13px;
  line-height: 60px;
  color: #b9c0c6;
}

.footer-social {
  display: flex;
  justify-content: space-between;
  width: 140px;
  font-size: 0;
  outline: red 1px solid;
}