.header {
  background: #ffffff url("../img/header-bg.jpg") no-repeat;
  background-position: 50% 0;
  
  font-family: $font-montserrat;
}

.header-top {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 297px;
}

.header-logo {
  margin: 0 auto 0 0;
  display: inline-block;
  padding: 41px 12px 10px 18px;
  border-radius: 0 0 6px 6px;
  background: #fa5c65;
  font-family: $font-domine;
  font-size: 20px;
  color: #ffffff;
}

.header-logo__dot {
  color: #000000;
}

.header-menu {
  display: flex;
  width: 398px;
  justify-content: space-between;
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
}

.header-menu__item {
  font-size: 0;
  padding-top: 8px;
  
  &:last-child {
    padding-right: 30px;
  }
}

.header-menu__link {
  font-size: 14px;
}

.header-social {
  display: flex;
  justify-content: space-between;
  width: 51px;
  outline: red 1px solid;
  font-size: 0;
}

.header-bottom {
  font-family: $font-opensans;
}

.header-title {
  width: 530px;
  margin-bottom: -13px;
  padding-left: 4px;
  font-family: $font-montserrat;
  font-size: 48px;
  font-weight: 700;
  line-height: 53px;
  color: #314a5b;
  letter-spacing: -.04em;
  text-transform: uppercase;
}

.header-title__dot {
  color: $color-dot;
}

.header-subtitle {
  padding-left: 5px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 400;
  line-height: 40px;
}

.header-readmore {
  display: inline-block;
  margin-bottom: 383px;
  margin-left: 3px;
  padding: 8px 42px 8px 42px;
  border-radius: 6px;
  background: #fa5c65;
  color: #ffffff;
  font-size: 15px;
  font-weight: 700;
  line-height: 48px;
  text-transform: uppercase;
}