.portfolio {
  background: #ffffff url("../img/portfolio-bg.jpg") no-repeat;
  background-position: 1% 19%;
  font-family: $font-montserrat;
}

.portfolio-container {
  margin-left: 480px;
  padding: 11px 0 0 3px;
}

.portfolio-title {
  margin-bottom: 6px;
  font-size: 40px;
  font-weight: 700;
  line-height: 46px;
  text-transform: uppercase;
  letter-spacing: -.04em;
}

.portfolio-title__dot {
  color: $color-dot;
}

.portfolio-subtitle {
  margin-bottom: 23px;
  font-family: $font-opensans;
  font-size: 16px;
  line-height: 20px;
}

.portfolio-text {
  margin-bottom: 23px;
  width: 370px;
  font-family: $font-opensans;
  font-size: 15px;
  line-height: 22px;
  color: #9aa0ab;
}

.portfolio-readmore {
  display: inline-block;
  margin: 15px 0 30px 0;
  font-size: 14px;
  line-height: 20px;
  color: #fa5c65;
  text-transform: uppercase;
  
  &:hover {
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}