.team {
  padding-top: 90px;
}

.team-title {
  margin-bottom: 17px;
  font-family: $font-montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -.02em;
  text-transform: uppercase;
}

.team-title__dot {
  color: $color-dot;
}

.team-subtitle {
  margin-bottom: 36px;
  font-family: $font-opensans;
  font-size: 16px;
  line-height: 20px;
  color: #9aa0ab;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 57px;
}

.team-item {
  display: flex;
  width: 300px;
  justify-content: space-around;
  font-family: $font-opensans;
  font-size: 14px;
  line-height: 20px;
}

.team-img {
  display: block;
}

.team-item__container {
  width: 160px;
}

.team-name {
  font-family: $font-montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -.02em;
  color: #314a5b;
  text-transform: uppercase;
}

.team-position {
  color: #f0454c;
}

.team-character {
  color: #9aa0ab;
}

.team-readmore {
  display: block;
  width: 64px;
  margin: 0 0 0 auto;
  font-family: $font-montserrat;
  font-size: 14px;
  line-height: 20px;
  color: #f0454c;
  text-transform: uppercase;
}