.team {
  padding: 59px 0 62px 0;
  border-bottom: 1px #e6eaed solid;
}

.team-title {
  margin-bottom: -2px;
  font-family: $font-montserrat;
  font-size: 32px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -.02em;
  text-transform: uppercase;
}

.team-title__dot {
  color: $color-dot;
}

.team-subtitle {
  margin-bottom: 40px;
  font-family: $font-opensans;
  font-size: 16px;
  line-height: 20px;
  color: #9aa0ab;
}

.team-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 51px;
}

.team-item {
  display: flex;
  width: 300px;
  justify-content: space-around;
  font-family: $font-opensans;
  font-size: 14px;
  line-height: 20px;
}

.team-img {
  display: block;
  
  &:hover {
    cursor: pointer;
  }
}

.team-img:hover ~ .team-item__container .team-name {
  color: #f0454c;
}

.team-img:hover ~ .team-item__container .team-position {
  color: #000000;
}

.team-img:hover ~ .team-item__container .team-character {
  opacity: .5;
}

.team-item__container {
  width: 160px;
}

.team-name {
  padding: 1px 0 0 8px;
  margin-bottom: -13px;
  font-family: $font-montserrat;
  font-size: 22px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: -.02em;
  color: #314a5b;
  text-transform: uppercase;
}

.team-position {
  margin-bottom: 9px;
  padding-left: 10px;
  color: #f0454c;
}

.team-character {
  padding-left: 9px;
  color: #9aa0ab;
}

.team-readmore {
  position: relative;
  display: block;
  width: 60px;
  margin: 0 0 0 auto;
  font-family: $font-montserrat;
  font-size: 14px;
  line-height: 20px;
  color: #f0454c;
  text-transform: uppercase;
  
  &:hover {
    color: #000000;
  }
  
  &:active {
    opacity: .5;
  }
}

.team-readmore::after {
  @include pseudo;
  width: 12px;
  height: 9px;
  background-position: -226px -10px;
  top: 5px;
  right: -5px;
}